
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    hoho
<%= @error %>


    dyane.gremaud@bluewin.ch
    2020-01-30T13:26:25.325409+00:00 app[run.4665]: {:phone=>["is invalid"]}

    "eloclement@free.fr"
    2020-01-30T13:28:27.135730+00:00 app[run.4665]: {:phone=>["is invalid"]}

    "dakota2b@hotmail.fr"
    2020-01-30T13:26:25.325409+00:00 app[run.4665]: {:phone=>["is invalid"]}

    "donatiennferre@gmail.com"
    2020-01-30T13:33:04.815589+00:00 app[run.4665]: {:phone=>["is invalid"]}
    jeannotmathilde@hotmail.fe"
    2020-01-30T13:33:52.685330+00:00 app[run.4665]: {:email=>["contains an invalid domain name"]}
    "jacqueminjulie33@gmail.com"
    2020-01-30T13:37:03.919188+00:00 app[run.4665]: {:phone=>["is invalid"]}
    "csep25@gmail.com"
    2020-01-30T13:40:06.373604+00:00 app[run.4665]: {:phone=>["is invalid"]}

    "eglantine.burban@free.ff"
    2020-01-30T13:41:24.454177+00:00 app[run.4665]: {:email=>["contains an invalid domain name"]}
    "cindy.coelsch@hotmail.fr"
    2020-01-30T13:41:45.356988+00:00 app[run.4665]: {:phone=>["is invalid"]}

    "cat.schiffers@yahoo.com"
    2020-01-30T13:42:07.667806+00:00 app[run.4665]: {:phone=>["is invalid"]}

    "m.paulusma78@gmail.com"
    2020-01-30T13:42:54.010925+00:00 app[run.4665]: {:phone=>["is invalid"]}
    "aualine@gmail.com"
    2020-01-30T13:45:43.897901+00:00 app[run.4665]: {:phone=>["has already been taken"]}

    "majesus.marcote@pepsico.com"
    2020-01-30T13:46:40.692779+00:00 app[run.4665]: {:phone=>["is invalid"]}

 </body>
</html>
